body {
  font-family: Helvetica;
  text-align: center;
}

#top {
  font-size: 70px;
  color: white;
  font-weight: bold;
  background-image: url("../images/building.png");
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul {
  list-style-type: none;
  font-size: 18px;
  line-height: 200%;
}

#process {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}

.ny {
  color: white;
  background-image: url("../images/building.png");
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.contact {
  line-height: 200%;
}

#end {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
a {
  color: white;
}
